*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(https://blz-contentstack-images.akamaized.net/v3/assets/blt2477dcaf4ebd440c/bltd3e24332d844a1af/63210b3dbe2fcf0db5eea54a/2600_Header.jpg?format=webply&quality=90);
    background-size: cover;
    background-position: center;
    height: 400px;

}
main {
    background-image: url(https://blz-contentstack-images.akamaized.net/v3/assets/blt2477dcaf4ebd440c/blt912826400bb9b504/6308459c47fdc2115dced822/cloud-2600.jpg?format=webply&quality=90);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 532px;
}
nav {
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
  }
  
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
.logo {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
  }
  
.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
.navbar-menu li {
    margin-left: 15px;
  }
  
.navbar-menu li a {
    color: #fff;
    text-decoration: none; 
  }  
.navbar-menu li a:hover {
    color: #ccc;
  }
.category-selector{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.category-selector button{
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    text-transform: pointer;
}
.category-selector button.active{
    background-color: #fff;
    color: #000;
    border: 5px;
}